@media screen and (max-width: 679px){
	.square{
		float:left;
		position: relative;
		margin:1.66%;
		overflow:hidden;
		
		padding-left: 0px;
		padding-right: 0px;
	}

	.smallsquare{
		float:left;
		position: relative;
		margin:1.66%;
		overflow:hidden;

		padding-left: 0px;
		padding-right: 0px;
		margin-right: 0px;
		margin-left: 0px;
		margin-top:3.315%;
		margin-bottom: 0px;
	}
	
	.contentB{
		height:100%; /* = 100% - 2*5% padding */
		width:100%; /* = 100% - 2*5% padding */
		
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.contentS{
		height:100%; /* = 100% - 2*5% padding */
		width:100%; /* = 100% - 2*5% padding */
		padding: 5%;	
	}
	.content{
		height:100%; /* = 100% - 2*5% padding */
		width:100%; /* = 100% - 2*5% padding */
		padding: 5%;	
	}
	.useless{
		display:none;
	}
}

@media screen and (min-width: 680px) and (max-width: 1080px){
	.square{
		float:left;
		position: relative;
		width: 46.5%;
		padding-bottom : 46.5%; /* = width for a 1:1 aspect ratio */
		margin:1.66%;
		overflow:hidden;
	}
	.smallsquare{
		float:left;
		position: relative;
		width: 50%;
		padding-bottom : 50%; /* = width for a 1:1 aspect ratio */
		overflow:hidden;
		padding-left: 0px ;
		padding-right: 0px ;

	}

	.content{
		position:absolute;
		height:100%; /* = 100% - 2*5% padding */
		width:100%; /* = 100% - 2*5% padding */
		padding: 5%;
		left:0;
	}
	.contentS{
		position:absolute;
		height:90%; /* = 100% - 2*5% padding */
		width:90%; /* = 100% - 2*5% padding */
		padding: 5%;	
	}
	.contentB{
		padding-left: 0px ;
		padding-right: 0px ;
		padding-top: 0px ;
		padding-bottom: 0px ;
		left: 0px;
		right: 0px;
		bottom: 0px;
		top: 0px;
		position:absolute;
		height:100%; /* = 100% - 2*5% padding */
		width:100%; /* = 100% - 2*5% padding */	
	}
	.HG{}
	.HD{padding-left: 5% ;}
	.HG{} 
	.HD{padding-left: 5% ;} 
	.BG{padding-top: 5% ;} 
	.BD{padding-top: 5% ; padding-left: 5% ;} 
}

@media screen and (min-width: 1080px){
	.square{
		float:left;
		position: relative;
		width: 30%;
		padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
		margin:1.66%;
		overflow:hidden;
	}
	.smallsquare{
		float:left;
		position: relative;
		width: 50%;
		padding-bottom : 50%; /* = width for a 1:1 aspect ratio */
		overflow:hidden;
		padding-left: 0px ;
		padding-right: 0px ;
	}

	.content{
		position:absolute;
		height:100%; /* = 100% - 2*5% padding */
		width:100%; /* = 100% - 2*5% padding */
		padding: 5%;
		left:0;
	}
	.contentS{
		position:absolute;
		height:90%; /* = 100% - 2*5% padding */
		width:90%; /* = 100% - 2*5% padding */
		padding: 5%;	
	}
	.contentB{
		padding-left: 0px ;
		padding-right: 0px ;
		padding-top: 0px ;
		padding-bottom: 0px ;
		left: 0px;
		right: 0px;
		bottom: 0px;
		top: 0px;
		position:absolute;
		height:100%; /* = 100% - 2*5% padding */
		width:100%; /* = 100% - 2*5% padding */
	}
	.HG{}
	.HD{padding-left: 5% ;}
	.HG{} 
	.HD{padding-left: 5% ;} 
	.BG{padding-top: 5% ;} 
	.BD{padding-top: 5% ; padding-left: 5% ;} 
}

.color_C0C0C0{
	/* background-color:#C0C0C0; */
	background-color:#3C4143;
}

.color_B8B8B8{
	/* background-color:#B8B8B8; */
	background-color:#404548;
}

.color_9CC3E4{
	/* background-color:#9CC3E4; */
	background-color:#103c5f;
}

.color_6AA0CC{
	/* background-color:#6AA0CC; */
	background-color:#155285;
}

.color_A58BD8{
	/* background-color:#A58BD8; */
	background-color:#240042;
}

.color_BEBEFC{
	/* background-color:#BEBEFC; */
	background-color:#010044;
}

.color_FCB810{
	/* background-color:#FCB810; */
	background-color:#ca8300;
}

.color_BC1000{
	/* background-color:#BC1000; */
	background-color:#a10d00;
}

.smallinside{
	/* background-color:#F5F5F5; */
	background-color:#181A1B;
}

.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}
/*  For list */
ul{
    text-align:left;
    margin:5% 0 0;
    padding:0;
    list-style-position:inside;
}
li{
    margin: 0 0 0 5%;
    padding:0;
}


/*  For responsive images */

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}


/*  For responsive images as background */

.bgd{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#FFFFFF;
}

.cvbgd{
    background-image: url('../files/img/cv.png');
}

.maginotbgd{
    background-image: url('../files/img/maginot.png');
}

.fondbgd{
    background-image: url('../files/img/fond.png');
}

.fond2bgd{
    background-image: url('../files/img/metz.png');
}

.fond3bgd{
    background-image: url('../files/img/nancy.png');
}

.fond4bgd{
    background-image: url('../files/img/vsc.png');
	background-repeat: round;
}

.fond5bgd{
    background-image: url('../files/img/projets.png');
	background-size: cover;
}

.fond6bgd{
    background-image: url('../files/img/parcours.png');
	background-size: cover;
}

.fondbrainbgd{
    background-image: url('../files/img/brain.webp');
	background-size: cover;
}

.clavierbgd{
    background-image: url('../files/img/clavier.png');
	background-size: 100%;
}

.mapbgd{
    background-image: url('../files/img/map.png');
	background-size: 100%;
}

.hobbgd{
    background-image: url('../files/img/hobbies.jpg');
	background-size: 100%;
}

.bckg_lego{
	background-size: cover;
	background-image: url('../files/img/lego.png');
}

body{
	margin-bottom: 60px; /* Margin bottom by footer height */
    font-size:15px;
	font-family: 'Roboto', sans-serif !important;
    color: 	#FFFFFF;
    text-align:center;
    /* background:#F5F5F5; */
    background:#181A1B;
}

.h0{
	font-size: 500%;
}

h1, h2, h3{
  font-family: Roboto Condensed, sans-serif;
}

h2{
  font-size: 30px;
}

h3, h4, h5{
  font-size: 24px;
}

.modal-projetc-info{
  font-size: 22px;
}

p{
    margin:0;
    padding:0;
    text-align:left;
}

.img-circle{
	width:auto;
    height:auto;
    max-height:45%;
    max-width:45%;
}

.img-circle2{
	width:auto;
    height:auto;
    max-height:75%;
    max-width:75%;
}

.tnlogo{
	width:auto;
    height:auto;
    max-height:100%;
    max-width:100%;
}

a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

a:active{ 
    color: #EDEDED;
	text-decoration: none;
}

a:hover{ 
    color: #EDEDED;
	text-decoration: none;
}

@media screen and (min-width: 800px){
	.modal-dialog{
		width: 900px;
		margin: 30px auto;
	}
}

.modal-content{
	background-color: #404040;
	color: #EEEEEE;
}

.projecttitle{
	margin-top:0px;
	margin-bottom:0px;
}

.footer{
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
  
  /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */
  
  @media (prefers-reduced-motion: reduce){
	*,
	::before,
	::after{
	  animation-delay: -1ms !important;
	  animation-duration: 1ms !important;
	  animation-iteration-count: 1 !important;
	  background-attachment: initial !important;
	  scroll-behavior: auto !important;
	  transition-duration: 0s !important;
	  transition-delay: 0s !important;
	}
  }


  .bigger:hover {
	/* L'image est grossie de 25% */
	-webkit-transform:scale(1.04); /* Safari et Chrome */
	-moz-transform:scale(1.04); /* Firefox */
	-ms-transform:scale(1.04); /* Internet Explorer 9 */
	-o-transform:scale(1.04); /* Opera */
	transform:scale(1.04);

	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
	}

	.smaller:hover {
		/* L'image est grossie de 25% */
		-webkit-transform:scale(0.96); /* Safari et Chrome */
		-moz-transform:scale(0.96); /* Firefox */
		-ms-transform:scale(0.96); /* Internet Explorer 9 */
		-o-transform:scale(0.96); /* Opera */
		transform:scale(0.96);
	
		-webkit-transition: .4s ease-in-out;
		transition: .4s ease-in-out;
		}

figure {
	width: 33%;
	float: left;
	margin: 0;
	text-align: center;
	padding: 0;
}

@media  screen and (min-width: 800px){
	.infobulle:hover::after,
	.infobulle:focus::after {
		color: white;
		content: attr(aria-label);  /* on affiche aria-label */
		position: absolute;
		top: 3.5em;
		left: 50%;
		transform: translateX(-50%); /* on centre horizontalement  */
		z-index: 10; /* pour s'afficher au dessus des Ã©lÃ©ments en position relative */
		white-space: nowrap;  /* on interdit le retour Ã  la ligne */
	}

	.special{
		padding-bottom: 13%;
	}
	.special3{
		padding-bottom: 13%;
	}
}
@media  screen and (max-width: 799px){
	.smaller{
		height: 200px;
	}

	.special{
		margin-top:0;
		margin-bottom: 0;
	}
	.special2{
		display: none;
	}
	.special3{
		margin-top:1.667%;
	}
	.special4{
		margin-top: 1.667% !important;
	}
}

#course {
	float: left;    
	margin: 0 15px 0 0;
	max-width: 110px;
	width: auto;
}

#fursuit {
	float: left;    
	margin: 0 15px 0 0;
	max-width: 200px;
	width: auto;
}

hr{
	border-top:1px solid #eeeeee !important;
}

.img.img-responsive{
	width:50%;
	margin: 0 auto;
}

.bigger{
	cursor:pointer;
}

.mt20{
	margin-top:-20px;
}

.mb25{
	margin-bottom:25px;
}

.w30{
	width:30% !important;
}

.w40{
	width:40% !important;
}

.w50{
	width:50% !important;
}

.w55{
	width:55% !important;
}

.w60{
	width:60% !important;
}

.w75{
	width:75% !important;
}

.particular-p{
	margin-bottom:-5px;
	font-size:18px !important;
	font-weight: bold;
}

.fs4em{
	font-size: 4em;
}

.fs3em{
	font-size: 3em;
}

.fs22fwb{
	font-size:22px !important;
	font-weight: bold;
}

.red{
	color: red;
}

.green{
	color: green;
}

.orange{
	color: orange;
}

.blue{
	color: blue;
}

.modal-header .close{
	font-size: XXX-LARGE;
	color: red;
}